.votebuttons{
    color: black;
    background-color: yellow;
    padding: 10px;
    margin : 30px;
    font-size: larger;
}
.james{
    color: blue;
    background-color: red;
}
#love{
    position: absolute;
    left: 1500px;
    top: 500px;
    font-size: xx-large;
    color: aquamarine;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}
#learn{
    background-color: black;
}